
:root{
 --Orange-400: hsl(12, 88%, 59%);
 --Blue-950: hsl(228, 39%, 23%);
 --Gray-950: hsl(233, 12%, 13%);
 --Orange-50: hsl(13, 100%, 96%);
 --Gray-50: hsl(0, 0%, 98%);
 --Gray-2: hsl(180, 74%, 91%);
}

body{
  overflow-x: hidden;
}